# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Środowiska wirtualne
.env/
venv/

# Dane
bot_data/raw/*.csv
bot_data/processed/*.csv

# Notebooki Jupytera (opcjonalnie, jeśli nie chcesz ich w repo)
# notebooks/*.ipynb

# Wyniki backtestów
results/
